{{extend 'starter.html'}}

<section class="col-lg-7 connectedSortable ui-sortable">
    <div class="box box-info">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <H2>Information List</H2> <a href="{{=URL('default', 'newInformation')}}"><button class="btn">New</button></a>

        </div>
        <div class="box-body">

            <table class="table table-striped">
                <tbody>
                <tr>

                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                {{ for item in items:}}
                <tr>
                    <td>{{=item.title}}</td>
                    <td>
                    {{=item.description}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{{=URL('default', 'editInformation', args=item.objectId)}}"><button class="btn btn-primary">edit</button></a>
                            <a href="{{=URL('default', 'deleteInformation', args=item.objectId)}}"><button class="btn btn-warning">delete</button></a>
                        </div>
                    </td>
                </tr>

                {{ pass }}

                </tbody></table>
        </div>
    </div>
</section>
