{{extend 'starter.html'}}

<section class="col-lg-7 connectedSortable ui-sortable">
    <div class="box box-info">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <H2>Application News VKontakte Page</H2> <a href="http://vk.com/bonch.news.english"><button class="btn">Manage</button></a>

        </div>
        <div class="box-body">

            <table class="table table-striped">
                <tbody>
                <tr>

                    <th>#</th>
                    <th>Description</th>
                    <th>Repost</th>
                    <th></th>
                </tr>
                {{ for news_item in news:}}
                <tr>
                    <td>{{=news_item['id']}}</td>
                    <td>{{=news_item['text']}}</td>
                    <td><span class="badge bg-red">{{=news_item['repost']}}</span></td>
                </tr>

                {{ pass }}

                </tbody></table>
        </div>
    </div>
</section>